{% extends 'base.html' %}

{% block content %}
    {% if form.instance.id %}
        <h1 class="header is-size-4">Изменить группу</h1>
    {% else %}
        <h1 class="header is-size-4">Добавить группу</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="field">
            <label class="label">Название</label>
            <div class="control">
                {{ form.name }}
            </div>
        </div>

        <div class="field">
            <label class="label">Курс</label>
            <div class="control">
                {{ form.course }}
            </div>
        </div>

        <div class="field">
            <label class="label">Предмет</label>
            <div class="control">
                <div class="select">
                    {{ form.stream }}
                </div>
            </div>
        </div>

        <input class="button is-warning" type="submit" value="Сохранить">
    </form>
{% endblock %}