{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Django site</title>
    <link href="{% static 'css/bulma.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/students.css' %}">
</head>
<body>
    <nav  class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png"
                     alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    Home
                </a>
                <a href="/about" class="navbar-item">
                    About
                </a>
                <a href="{% url 'teachers' %}" class="navbar-item">
                    Учителя
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="notification is-success">{{ message }}</div>
            {% else %}
                <div class="notification is-danger">{{ message }}</div>
            {% endif %}
        {% endfor %}

        {% block content %}
            <h1>Base template</h1>
        {% endblock %}
    </div>
</body>
</html>